@import "tailwindcss";

@theme inline {
  --font-edu: var(--font-edu-hand);
}

@keyframes slide-up {
  0% {
    transform: translateY(0%);
  }

  100% {
    transform: translateY(-40%);
  }
}

@keyframes slide-down {
  0% {
    transform: translateY(0%);
  }

  100% {
    transform: translateY(40%);
  }
}

@keyframes slide-down-reverse {
  0% {
    transform: scaleY(0.0.6);
  }
  100% {
    transform: scaleY(1);
  }
}

@keyframes slide-up-reverse {
  0% {
    transform: scaleY(0.0.6);
  }
  100% {
    transform: scaleY(1);
  }
}

.bg-black-gradient {
  background-image: linear-gradient(to right, #000000 0%, #232526 100%);
}

.animate-slide-up {
  animation: slide-up 2s ease forwards;
}

.animate-slide-down {
  animation: slide-down 2s ease forwards;
}

.animate-slide-up-reverse {
  animation: slide-up-reverse 0.5s ease forwards;
  transform-origin: top;
}

.animate-slide-down-reverse {
  animation: slide-down-reverse 0.5s ease forwards;
  transform-origin: bottom;
}
